<script type="text/javascript">
  window.demoImage = "<%= image_url('demo_egg.png') %>";
  window.githubImage = '<%= image_url('github.png') %>';
  window.emailImage = '<%= image_url('email.png') %>';
</script>

<main id="root"></main>