body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}
.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1305px;
  margin: 0 auto;
}

.app-header {
  margin: 0;
}

.main-page {
  // width: 98%
}

.movies-index {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  border-bottom: .5px solid #F0F0F0	;
}

.photo-banner {
  display: flex;
  margin: 0 auto;
  overflow-x: hidden;
}

.photo-banner-image{
  width: 12.5%;
  height: auto;
}

.main-page-movie-lists {
  display: flex;
  width: auto;
  align-items: flex-start;
  flex-direction: column;
}

.combin-lists {
  display: flex;
}

.main-page-list-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: .5px solid #F0F0
}

.main-page-list-header{
  display: flex;
  justify-content: flex-start;
  border-bottom: rgb(157, 164, 172) 1px solid;
  font-family: 'Neusa Next Pro Compact',Impact,Arial,sans-serif;
}

.main-page-list-container:last-child {
  border: none;
}

.movie-list-item{
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: rgb(157, 164, 172) 1px solid;
}

.list-icon {
  width: auto;
  height: 25px;
  margin-right: 5px;
}

.list-score {
  margin-left: 5px;
  width: 40px;
}

.list-text {
  font-weight: lighter;
}

.link-to-movie {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.link-to-movie:hover {
  background-color: lightgray;
}

.app-footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.footer-box {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.footer-link {
  display: flex;
  flex-direction: column;
  height: 90px;
  margin: 5px;

}

.footer-text, .conntact-info{
  color: white;
  font-weight: blod;
  font-size: 13px;
  text-decoration: none;
  margin: 5px;
}

.conntact-info:hover {
  color: #4472CA;
  cursor: pointer;
}

.footer-icon {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}
