body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}
.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1305px;
  margin: 0 auto;
}

.app-header {
  margin: 0;
}

.movies-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-bottom: .5px solid #F0F0F0	;
}

.dbMovie-banner {
  display: flex;
  overflow-x: scroll;
  background-color:black;
}

.dbMovie-banner-link{
  padding: 5px 2px 0 2px;
  justify-content: center;
  min-width: 18.5%;
  cursor: pointer;
}

.photo-banner {
  display: flex;
  margin: 0 auto;
  overflow-x: scroll;
}

.photo-banner-image{
  width: 12.5%;
  height: auto;
}

.main-page-movie-lists {
  display: flex;
  width: 30%;
  align-items: flex-start;
  // flex-direction: column;
}

.combin-lists {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
}

// .bg {
//   background-image: url('https://i.giphy.com/media/sPuDbEFCsoN32/giphy.gif');
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: auto;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   opacity: 0.12;
// }

.main-page-list-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: .5px solid #F0F0
}

.main-page-list-header{
  display: flex;
  justify-content: flex-start;
  border-bottom: rgb(157, 164, 172) 1px solid;
  font-family: 'Neusa Next Pro Compact',Impact,Arial,sans-serif;
}

.main-page-list-container:last-child {
  border: none;
}

.movie-list-outeritem{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: rgb(157, 164, 172) 1px solid;
}

.movie-list-item{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.list-icon {
  width: auto;
  height: 25px;
  margin-right: 5px;
}

.list-score {
  margin-left: 5px;
  width: 40px;
}

.list-text {
  font-weight: bolder;
  cursor: pointer;
}

// .poster{
//   display: none;
// }

// .open .poster {
//   display: block; 
// }

.link-to-movie {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.link-to-movie:hover {
  background-color: lightgray;
}

.app-footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.footer-box {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  height: 60px;
  margin: 5px;
}

.footer-text, .conntact-info{
  color: white;
  font-weight: blod;
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
}

.conntact-info:hover {
  color: rgb(72, 128, 202);
  cursor: pointer;
}

.footer-icon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.footer-disclaimer {
  font-family: 'Source Sans Pro', sans-serif;
  color: red;
  font-size: 15px;
  align-self: center;
}

.footer-icon-end {
  width: 65px;
  height: 60px;
  margin-top: 10px;
}