.modal-backdrop {
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
}

.modal-component {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px 5px 0 0 ;
  font-family: 'Source Sans Pro', sans-serif;

  .session-demo-button {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    font-family: 'Franklin Gothic FS Book',sans-serif;
    font-weight: 800;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.25;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    border-color: rgb(252, 206, 3);
    color: white;
    padding-bottom: 5px;
    
    .demo-button-icon {
      width: 30px;
      height: 30px;
    }

  }

  .session-demo-button:hover{
    background-color: rgb(160, 189, 0);
    border-color: #b3ff00;
  }

  .session-form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .session-form-header {
    display: flex;
    justify-content: space-between;
    border-bottom: .2px solid #E0E0E0;
    background-color:  rgb(255, 208, 0);
      
    .session-form-title {
      display: flex;
      margin:0 5px;
      padding:  15px 0 15px 10px;
      color: white;
      font-weight: 600;
    }
      
    .modal-close-x {
      display: flex;
      color: rgb(167, 119, 0);
      cursor: pointer;
      font-weight: 400;
      font-size: 17px;
      font-family: 'Varela Round', sans-serif;
      margin:0 5px;
      padding: 7px;
    }

  }

    .session-form-errors{
      font-size: 14px;
      color: red;
      margin-left: 10px;
    }

    .modal-form-box {
      padding: 10px 20px 20px 20px;
      width: 250px;

      .session-modal-divider {
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      .session-modal-divider-text {
        background-color: #FFF;
        left: 50%;
        margin-left: -18px;
        padding: 0 10px;
        position: absolute;
      }
      
      .session-form-label {
        display: flex;
        flex-wrap: wrap;
        font-weight: 600;
        padding: 10px 0 5px 0;
        
        .session-form-input {
          display: block;
          width: 90%;
          height: 34px;
          padding: 0px 10px;
          font-size: 16px;
          line-height: 1.25;
          color: #555;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 4px;
          font-family: 'Source Sans Pro', sans-serif;
          margin: 0 auto;
          font-weight: lighter;
        }
      }
      .session-form-button {
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
        border: 1px solid transparent;
        white-space: nowrap;
        font-size: 13px;
        line-height: 1.25;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgb(255, 208, 0);
        border-color: rgb(252, 206, 3);
        color: white;
      }

      .session-form-button:hover{
        background-color: rgb(160, 189, 0);
        border-color: #b3ff00;
      }

    }
    
    .session-form-footer{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      border-top: 1px solid #E0E0E0;
      width: 100%;
      background-color: #eeeeee;
    }

    .session-form-modal-switch{
      color: rgb(255, 208, 0);
      padding-left: 5px;
      cursor: pointer;
    }
    .session-form-modal-switch:hover{
      color:  rgb(160, 189, 0);
    }
 }
