.nav-bar-container {
  display: flex;
  flex-direction: column;
}

.logo-and-search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  rgb(255, 208, 0);
}

.logo {
  height: 40px;
  width: auto;
  float: left;
}

.nav-bar-main {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
  justify-content: space-between;
  height: 85px;
  margin-top: 20px;
  flex-direction: row;
}

.search-bar {
  width: 250px;
  height: 22px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.search-dropdown{
  background: white;
  position: absolute;
  top: 30px;
  width: 253px;
  z-index: 5;
  color: black;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-left: 1px solid #ccc;
}

.session-list {
  display: flex;
  flex: center;
  margin-right: 5px;
  float: right;
}

.session-list li {
  color: rgb(250, 255, 187);
  padding: 5px;
  font-weight: lighter;
  font-size: 15px;
  font-weight: 400;
  max-height: 20px;
  background: rgb(255, 208, 0);
}

.session-list li:hover {
  cursor: pointer;
}

.signin-status {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
}

.trending-bar-under-nav {
  display: inline-block;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 25px;
}

.trending-text {
  color: #f2e817;
  font-weight: bold;
  font-size: 13px;
  padding: 2px;
  margin-left: 20px;
  margin-right: 10px;
  font-family: 'Franklin Gothic FS Book',sans-serif;
  text-align: left;
  line-height: 1.25;
}

.trending-link {
  color: white;
  font-weight: lighter;
  font-size: 13px;
  text-decoration: none;
  padding: 2px;
  margin: 0 10px;
}

.trending-link:hover {
  color: #f2e817;
}

.trending-icon-mail {
  width: 18px;
  height: 18px;
  margin-left: 500px;
}

.trending-icon-github {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}