.nav-bar-container {
  display: flex;
  flex-direction: column;
}

.nav-bar-main {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
  justify-content: space-between;
  height: 85px;
  margin-top: 20px;
  flex-direction: row;
}

.search-dropdown{
  background: white;
  position: absolute;
  top: 81px;
  z-index: 5;
  color: black;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-left: 1px solid #ccc;
}

.session-list {
  display: flex;
  flex: center;
  margin-right: 5px;
}

.session-list li {
  color: rgb(255, 208, 0);
  padding: 5px;
  font-weight: lighter;
  font-size: 14px;
  font-weight: 400;
  max-height: 20px;
  background: rgb(250, 255, 187);
}

.session-list li:hover {
  cursor: pointer;
}

.signin-status {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
}